.input {
    height: 50px;
    padding-left: 10px;
    font-size: 1em;
    margin-top: 1em;
    border-radius: 3px;
    border: none;
    margin: 10px;
    color: grey;
}

.input::placeholder {
    color: lightgray;
}